<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevExpress" value="https://nuget.devexpress.com/bAOcmicxtNyZb1tizij8LecGLGvul7yALFhtp8wD43CjSJkYme/api" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <DevExpress>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="%DEVEXPRESS_NUGET_KEY%" />
    </DevExpress>
  </packageSourceCredentials>
</configuration>
