<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Public NuGet source -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

		<!-- DevExpress private source -->
		<add key="DevExpress" value="https://nuget.devexpress.com/cW5KuokgfHMfTwd5VDp942uPlhjxMddAoTysyyU1yk8dNpZXwj/api/v3/index.json" />
	</packageSources>
</configuration>
